@model WeSeeSharp.ViewModels.TeamMemberInfoViewModel

<!DOCTYPE html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body, h1, h2, h3, h4, h5, h6 {
        font-family: "Roboto", sans-serif
    }
</style>
<body class="w3-light-grey">

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="w3-third">

                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container">
                        <img src=@Model.TeamMember.Slika style="width:100%" alt="Avatar">
                        <div class="w3-display-bottomleft w3-container w3-text-teal">
                            <h2>@Model.TeamMember.Ime @Model.TeamMember.Prezime</h2>
                        </div>
                    </div>
                <hr />
                    <div class="w3-container">
                        <p>@Model.TeamMember.Opis</p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>@Model.TeamMember.Adresa</p>
                        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>@Model.TeamMember.Email</p>
                        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>@Model.TeamMember.Mobitel</p>
                        <p><i class="fa fa-linkedin-square fa-fw w3-margin-right w3-large w3-text-teal"></i>@Model.TeamMember.LinkedIn</p>
                        <hr>

                        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
                        @foreach (var skill in Model.Skills)
                        {
                            <p>@skill.Skill.Naziv</p>
                        }
                        
                        <br>

                        <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
                        @foreach (var lang in Model.Languages)
                        {
                            <p>@lang.Language.Naziv</p>
                        }
                        
                        <br>
                    </div>
                </div><br>

                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-twothird">

                <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
                    @foreach (var exp in Model.Experiences)
                    {
                        <div class="w3-container">
                            <h5 class="w3-opacity"><b>@exp.Experience.Opis</b></h5>
                            @if (exp.Experience.Kraj == null)
                            {
                                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>@exp.Experience.Pocetak.ToString("dd MMM yyyy") - <span class="w3-tag w3-teal w3-round">Current</span></h6>
                            }
                            else
                            {
                                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>@exp.Experience.Pocetak.ToString("dd MMM yyyy") - @exp.Experience.Kraj.Value.ToString("dd MMM yyyy")</h6>
                            }
                            
                            <p>@exp.Experience.Tvrtka</p>
                            <hr>
                        </div>
                    }    
                </div>

                <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
                    @foreach (var edu in Model.Educations)
                    {
                        <div class="w3-container">
                            <h5 class="w3-opacity"><b>@edu.Education.Ustanova</b></h5>
                            @if (edu.Education.Kraj == null)
                            {
                                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>@edu.Education.Pocetak.ToString("dd MMM yyyy") - <span class="w3-tag w3-teal w3-round">Current</span></h6>
                            }
                            else
                            {
                                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>@edu.Education.Pocetak.ToString("dd MMM yyyy") - @edu.Education.Kraj.Value.ToString("dd MMM yyyy")</h6>
                            }
                            <hr>
                        </div>
                    }    

                </div>

                <div class="w3-container w3-card-2 w3-white">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-book fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Accomplishments</h2>

                    @foreach (var accom in Model.Accomplishments)
                    {
                        <div class="w3-container">
                            <h5 class="w3-opacity"><b>@accom.Accomplishment.Naslov, @accom.Accomplishment.Vrsta</b></h5>
                            <h6 class="w3-text-teal">@accom.Accomplishment.Tehnologija</h6>
                            <p>@accom.Accomplishment.Opis</p>
                            <hr>
                        </div>
                    }

                </div>


                    


                    <!-- End Right Column -->
                </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>



</body>